################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Debug
/AI for Games.vcxproj.filters
/AI for Games.vcxproj
