################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Debug
/X 0 minmax.vcxproj.filters
/X 0 minmax.vcxproj
